<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="ingestor" class="edu.upennlib.ingestor.SAXIngestor" scope="singleton" lazy-init="true">
        <property name="integrator" ref="rootIntegrator"/>
        <property name="solrPoster" ref="solrPoster"/>
        <property name="joiner" ref="joiner"/>
        <property name="performanceEvaluator" ref="evaluator"/>
    </bean>
    <bean id="evaluator" class="edu.upennlib.xmlutils.dbxml.PerformanceEvaluator" scope="singleton" lazy-init="true"/>
    <bean id="rootIntegrator" class="edu.upennlib.ingestor.sax.integrator.IntegratorOutputNode" scope="singleton" lazy-init="true" init-method="initSpring">
        <property name="subIntegratorsSpring" ref="${rootIntegrator.subIntegrators}"/>
        <property name="descendentsSpring" value="${rootIntegrator.descendents}"/>
        <property name="dumpFile" value="${rootIntegrator.dumpFile}"/>
    </bean>
    <bean id="marcIntegrator" class="edu.upennlib.xmlutils.dbxml.BinaryMARCXMLReader" scope="prototype">
        <property name="name" value="${integrator.name}"/>
        <property name="host" value="${integrator.host}"/>
        <property name="sid" value="${integrator.sid}"/>
        <property name="user" value="${integrator.user}"/>
        <property name="pwd" value="${integrator.pwd}"/>
        <property name="idFieldLabels" value="${integrator.idFields}"/>
        <property name="outputFieldLabels" value="${integrator.marcBinaryFieldLabel}"/>
        <property name="sql" value="${integrator.sql}"/>
        <property name="performanceEvaluator" ref="evaluator"/>
        <property name="fieldModifier" ref="${integrator.fieldModifier}"/>
    </bean>
    <bean id="subjectFieldModifier" class="edu.upennlib.subjectremediation.SubjectRemediationFieldModifier" lazy-init="true">
        <property name="subjectRemediationTable" ref="subjectRemediationTable"/>
    </bean>
    <bean id="subjectRemediationTable" class="edu.upennlib.subjectremediation.SubjectTrieLoader" factory-method="load" lazy-init="true"/>
    <bean id="rsIntegrator" class="edu.upennlib.xmlutils.dbxml.RSXMLReader" scope="prototype">
        <property name="name" value="${integrator.name}"/>
        <property name="host" value="${integrator.host}"/>
        <property name="sid" value="${integrator.sid}"/>
        <property name="user" value="${integrator.user}"/>
        <property name="pwd" value="${integrator.pwd}"/>
        <property name="idFieldLabels" value="${integrator.idFields}"/>
        <property name="sql" value="${integrator.sql}"/>
        <property name="performanceEvaluator" ref="evaluator"/>
    </bean>
    <bean id="solrPoster" class="edu.upennlib.solrposter.SAXSolrPoster" lazy-init="true" scope="singleton">
        <property name="server" ref="solrServer"/>
        <property name="delete" value="${solrPoster.delete}"/>
    </bean>
    <bean id="solrServer" class="org.apache.solr.client.solrj.impl.StreamingUpdateSolrServer" factory-bean="solrServerFactory" factory-method="getServer" scope="singleton" lazy-init="true"/>
    <bean id="solrServerFactory" class="edu.upennlib.solrposter.StreamingUpdateSolrServerFactory" scope="singleton" lazy-init="true">
        <property name="solrURL" value="${solrServer.url}"/>
        <property name="queueSize" value="${solrServer.queueSize}"/>
        <property name="threadCount" value="${solrServer.threadCount}"/>
    </bean>
    <bean id="joiner" class="edu.upennlib.paralleltransformer.TransformingXMLFilter" scope="singleton" lazy-init="true">
        <property name="stylesheet" value="${joiner.stylesheet}"/>
    </bean>
    <bean id="null" class="edu.upennlib.configurationutils.ConfigUtils$NullFactory" scope="singleton" lazy-init="true"/>
    <bean id="bpp" class="edu.upennlib.configurationutils.BPP"/>
</beans>